.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.menu-title{
  margin-left:0.5em;
}
mat-toolbar{
  box-shadow: inset 0 -1px 0 0 #dadce0;
}
.app-logo , .nav-list-image-icon{
  height:30px;
  width:30px;
  margin-right:1em;
}
.nav-list-image-icon{
  margin-right:2em;
}
.mat-nav-list-item{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.div-breaker{
  margin-top:1.5em;
  height:2px;
  box-shadow: inset 0 -1px 0 0 #dadce0;
}
h4{
  font-weight: 500;
  margin-left:1.5em;
}
.category-icon{  
  margin-right:1em;
}
.user-info-section{
  display: flex;
  margin-left:60vw;
  justify-content: space-evenly;
  align-content: center;
}
div.username-prefix-section{
  
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;    
    margin-top:-5px;
    margin-right:1em;
    overflow: hidden;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0;
    background-color: #759797;
}
span.username{
  margin-left:6px;
}

.cursor-pointer{
  cursor: pointer;
}